<template>
  <div class="product-list-skeleton">
    <div class="product-list-skeleton__section-title skeleton mb-5 ml-auto mr-auto"></div>

    <template v-for="i in 5" :key="`product-list-skeleton__${i}`">
      <div class="product-list-skeleton__category-title skeleton mb-5 mt-5"></div>

      <div class="product-list-skeleton__products gap-3">
        <div
          v-for="j in 3"
          class="product-list-skeleton__product-item skeleton"
          :key="`product-item-skeleton__${j}`"
        ></div>
      </div>
    </template>
  </div>
</template>

<style lang="scss" scoped>
.product-list-skeleton {
  &__section-title {
    width: 20rem;
    height: 2.8rem;
  }

  &__category-title {
    height: 4.6rem;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &__product-item {
    height: 10.8rem;
  }
}
</style>
