<template>
  <div class="cart-item space-between align-center p-2">
    <div class="cart-item__left">
      <div class="cart-item__title text-bold mb-3">{{ props.cartItem.title }}</div>

      <div class="align-center font-4">
        <div class="cart-item__price">
          <span>Price: </span>
          <span class="text-bold">{{ formatPrice(props.cartItem.price) }}</span>
          <span>&nbsp;x&nbsp;</span>
          <span class="text-bold">{{ props.cartItem.quantity }}</span>
        </div>

        <div
          v-if="lowQuantityWarning"
          class="cart-item__notice ml-3 px-2 b-radius-2"
          :class="lowQuantityWarningClass"
        >
          {{ lowQuantityWarning }}
        </div>
      </div>
    </div>

    <base-counter
      v-model:amount.number="amount"
      class="cart-item__counter-input"
      :max="product.count"
    />

    <button class="icon-btn" type="button" @click="onRemoveBtnClick">❌</button>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'
import BaseCounter from '@/components/base/counter-input.vue'
import { ICartItem, LIMITED_STOCK_COUNT } from '@/services/cart-service'

import { useCartStore } from '@/stores/cart-store'
import { useProductsStore } from '@/stores/products-store'

import { formatPrice } from '@/utils/number/format-price'
import { toast } from 'vue3-toastify'

interface IProps {
  cartItem: ICartItem
}

const props = defineProps<IProps>()

let showAmount = ref(false)

const productsStore = useProductsStore()
const cartStore = useCartStore()

const product = computed(() => productsStore.getProduct(props.cartItem.id))

const isOutOfStock = computed(() => product.value.count === props.cartItem.quantity)
const isLimitedStock = computed(
  () => product.value.count - props.cartItem.quantity <= LIMITED_STOCK_COUNT
)

const lowQuantityWarning = computed(() => {
  if (isOutOfStock.value) {
    return 'Out of stock'
  }

  if (isLimitedStock.value) {
    return 'Will end soon'
  }

  return ''
})

const lowQuantityWarningClass = computed(() => (isOutOfStock.value ? 'bg-danger' : 'bg-warning'))

const amount = computed({
  get() {
    return props.cartItem.quantity
  },
  set(quantity) {
    if (quantity <= product.value.count) {
      showAmount.value = false
      cartStore.changeQuantity({ product: props.cartItem, quantity })
    } else {
      showAmount.value = true
    }
  }
})

function onRemoveBtnClick() {
  cartStore.removeFromCart({ product: props.cartItem, quantity: -1 })
  toast.success('Product removed successfully', {
    hideProgressBar: true,
    toastId: props.cartItem.id,
    autoClose: 2000
  })
}
</script>

<style lang="scss" scoped>
.cart-item {
  border-bottom: 0.1rem solid $secondary-color;

  &__left,
  &__counter-input {
    flex: 1;
  }

  &__title {
    font-size: 2.4rem;
  }

  &__title,
  &__price {
    @include lineClamp(1);
  }

  &__notice {
    white-space: nowrap;
  }

  &:last-of-type {
    border-bottom: none;
  }

  @media (max-width: $breakpoint-md) {
    &__title {
      font-size: 1.4rem;
    }

    &__notice {
      font-size: 1rem;
    }
  }
}
</style>
