<template>
  <template v-if="cartStore.cartItems.length">
    <form @submit.prevent="onSubmit">
      <cart-item v-for="cartItem in cartStore.cartItems" :cartItem="cartItem" :key="cartItem.id" />

      <div class="justify-end align-center mt-5">
        <div class="text-bold font-5 mr-4">Total: {{ formatPrice(cartStore.total) }}</div>
        <button class="btn btn-success btn-translate py-4 px-6">Order</button>
      </div>
    </form>
  </template>

  <template v-else-if="orderHasSent">
    <div class="font-6 text-center mb-3">Thanks you for your order! 😉</div>
    <div class="place-center gap-3">
      <router-link
        :to="{ name: RouteName.Home }"
        class="btn btn-success btn-translate text-white py-3 px-4"
      >
        See other products
      </router-link>
      <router-link
        :to="{ name: RouteName.Orders }"
        class="btn btn-primary btn-translate text-white py-3 px-4"
      >
        Go to orders
      </router-link>
    </div>
  </template>

  <h3 v-else class="text-center p-6">The products you added will appear here</h3>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import CartItem from '@/components/cart/cart-item.vue'
import { formatPrice } from '@/utils/number/format-price'
import { RouteName } from '@/router/routes/names'

import { useCartStore } from '@/stores/cart-store'
import { useOrdersStore } from '@/stores/orders-store'

interface IEmits {
  (event: 'order-sent'): void
}

const emit = defineEmits<IEmits>()

const cartStore = useCartStore()
const ordersStore = useOrdersStore()

let orderHasSent = ref(false)

function onSubmit() {
  debugger;
  ordersStore.sendOrder({ items: cartStore.cartItems, total: cartStore.total })
  cartStore.clear()
  orderHasSent.value = true
  emit('order-sent')
}
</script>
