<template>
  <div class="product-category">
    <div
      class="product-category__title text-primary align-center space-between b-radius-2 mb-5 pl-5"
      @click="toggleHidden"
    >
      <h2 class="product-category__name">
        {{ props.category.title }} ({{ props.category.items.length }})
      </h2>

      <div
        class="product-category__arrow-icon product-category__arrow-icon_opened"
        :class="{ 'product-category__arrow-icon_closed': isHidden }"
      >
        &#60;
      </div>
    </div>

    <div
      class="product-category__content gap-3"
      ref="content"
      :class="{ ['product-category__content_hidden']: isHidden }"
    >
      <product-item v-for="product in props.category.items" :product="product" :key="product.id" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'
import ProductItem from '@/components/products/product-item.vue'
import { ICategory } from '@/services/category-service'

interface IProps {
  category: ICategory
}

const props = defineProps<IProps>()

const isHidden = ref(false)
const content = ref(null)

const scrollHeight = computed(() => `${content.value?.scrollHeight}px`)

function toggleHidden() {
  isHidden.value = !isHidden.value
}
</script>

<style lang="scss" scoped>
.product-category {
  overflow: hidden;

  &__title {
    border: 0.2rem solid $primary-color;
    cursor: pointer;
  }

  &__arrow-icon {
    margin-right: 2.1rem;
    font-size: 3.6rem;
    transition: all 0.3s ease-in;
    will-change: rotate;
    user-select: none;

    &_opened {
      transform: rotate(-90deg);
    }

    &_closed {
      margin-right: $size-4;
      transform: rotate(90deg);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    transition: height 0.3s ease-in-out;
    will-change: height;
    height: v-bind('scrollHeight');

    &_hidden {
      height: 0;
      margin-bottom: 0;
    }
  }
}
</style>
