<template>
  <div></div>
  <products-list-skeleton v-if="productsStore.loading" />

  <products-list-error v-else-if="productsStore.error" />

  <div v-else class="flex-column gap-5">
    <product-category
      v-for="category in productsStore.categories"
      :category="category"
      :key="category.id"
    />
  </div>
</template>

<script setup lang="ts">
import { onBeforeMount } from 'vue'
import ProductCategory from '@/components/products/product-category.vue'
import ProductsListSkeleton from '@/components/skeletons/products-list-skeleton.vue'
import ProductsListError from '@/components/products/products-list-error.vue'

import { useProductsStore } from '@/stores/products-store'

const productsStore = useProductsStore()

onBeforeMount(() => {
  if (productsStore.categories.length) {
    return
  }
  productsStore.getProductsData()
})
</script>
