<template>
  <div class="product-item b-radius-2" :class="productClass" @click="onProductClick">
    <div class="product-item__info">
      <h4 class="product-item__title">{{ props.product.title }}</h4>
      <div class="product-item__count">{{ countStr }}</div>
    </div>

    <div v-if="!isOutOfStock" class="product-item__price-info flex-column align-end">
      <div class="product-item__price">
        {{ priceFormatted }}
      </div>

      <div class="product-item__price-change">
        {{ priceChangePercent }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { formatPrice } from '@/utils/number/format-price'
import { IProduct } from '@/services/product-service'

import { useCartStore } from '@/stores/cart-store'
import { toast } from 'vue3-toastify'

interface IProps {
  product: IProduct
}

const props = defineProps<IProps>()

const cartStore = useCartStore()

const isOutOfStock = computed(() => {
  if (cartItem.value) {
    return props.product.count - cartItem.value.quantity === 0
  }
  return props.product.count === 0
})

const productClass = computed(() => {
  if (isOutOfStock.value) {
    return 'product-item_out-of-stock bg-secondary '
  }

  const { prev, current } = props.product.price
  if (!prev || prev === current) {
    return 'bg-info'
  }
  return current > prev ? 'bg-danger' : 'bg-success'
})

const priceFormatted = computed(() => formatPrice(props.product.price.current))

const priceChangePercent = computed(() => {
  const { current, prev } = props.product.price
  if (!prev || current === prev) {
    return '0% 😐'
  }

  const changePercentage = ((current - prev) / prev) * 100
  const isHigher = changePercentage > 0

  const digit = isHigher ? '+' : '-'
  const emoji = isHigher ? '🙁' : '🙂'

  return `${digit}${Math.abs(+changePercentage.toFixed(2))}% ${emoji}`
})

const cartItem = computed(() => cartStore.getProduct(props.product.id))

const countStr = computed(() => {
  const { count } = props.product
  if (!cartItem.value) {
    return `In stock: ${count}`
  }

  const { quantity } = cartItem.value

  if (!cartItem.value || quantity === props.product.count) {
    return 'Out of stock'
  }
  return `In stock: ${count - quantity}`
})

function onProductClick() {
  if (cartItem.value) {
    if (props.product.count - cartItem.value.quantity <= 0) {
      return
    }
  } else if (props.product.count <= 0) {
    return
  }
  cartStore.addToCart({ product: props.product, quantity: 1 })
  toast.success('Product added successfully', {
    hideProgressBar: true,
    toastId: props.product.id,
    autoClose: 2000
  })
}
</script>

<style lang="scss" scoped>
.product-item {
  padding: 1.6rem;
  min-height: 10.8rem;
  transition: background-color 0.2s linear;
  cursor: pointer;
  position: relative;

  &__title,
  &__count,
  &__price {
    @include lineClamp(1);
  }

  &__price {
    flex-basis: auto;
  }

  &_out-of-stock {
    &:after {
      content: 'Out of stock';
      padding: $size-1 $size-2;
      top: calc(50% - $size-3);
      left: calc(50% - 5rem);
      border-radius: $size-1;
      background: $white-color;
      position: absolute;
      pointer-events: none;
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: $size-2;
  }
}
</style>
