<template>
  <div class="flex-column align-center">
    <div class="bg-danger text-white text-bold b-radius-2 p-5">
      An error occurred while loading products
    </div>

    <button
      class="btn btn-translate btn-outline text-primary font-5 mt-5"
      @click="productsStore.getProductsData"
    >
      🔄 Try again
    </button>
  </div>
</template>

<script setup lang="ts">
import { useProductsStore } from '@/stores/products-store'

const productsStore = useProductsStore()
</script>
