<template>
  <div class="order-item text-center">
    <div class="order-item__id font-5 mb-2">
      <span>Order ID: {{ props.order.id }}</span>
    </div>

    <div class="order-item__products">
      <div v-for="product in order.items" class="mb-2" :key="`${order.id}-${product.id}`">
        <div class="text-bold">{{ product.title }}</div>
        <div>Price: {{ formatPrice(product.price) }} x {{ product.quantity }}</div>
        <span>Total: {{ formatPrice(product.price * product.quantity) }}</span>
      </div>
    </div>

    <div class="font-5 mt-auto">
      Total amount of the order: <span class="text-bold">{{ formatPrice(props.order.total) }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { IOrder } from '@/services/order-service'
import { formatPrice } from '@/utils/number/format-price'

interface IProps {
  order: IOrder
}

const props = defineProps<IProps>()
</script>
