<template>
  <div v-if="ordersStore.orders.length" class="orders-list gap-5">
    <order-item v-for="order in ordersStore.orders" :order="order" :key="order.id" />
  </div>

  <h3 v-else class="text-center p-6">Your completed orders will appear here</h3>
</template>

<script setup lang="ts">
import OrderItem from '@/components/orders/order-item.vue'

import { useOrdersStore } from '@/stores/orders-store'

const ordersStore = useOrdersStore()
</script>

<stylel lang="scss">
.orders-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}
</stylel>
