@import '@/assets/variables/colors.scss';
@import '@/assets/variables/sizes.scss';

.btn {
  border: none;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  font-size: 2rem;
  border-radius: $size-4;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.3s ease;
}

.btn-outline {
  padding: 1.2rem 2.4rem;
  border-radius: 40rem;
  border: 0.2rem solid;
  background-color: transparent;
}

.btn-translate {
  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }
}

.btn-scale {
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: translateY(0);
  }
}

.icon-btn {
  cursor: pointer;
  transition: transform 0.08s ease-in;
  user-select: none;
  border: none;
  background: transparent;
  font-size: 2rem;

  &:hover {
    transform: scale(1.08);
  }

  &:active {
    transform: translateY(0.2rem);
  }
}

@each $color-name, $color-value in $base-colors {
  .btn-#{'' + $color-name} {
    background-color: $color-value;
    color: $white-color;

    &:hover {
      background-color: darken($color-value, 10%);
      box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: darken($color-value, 20%);
      box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    }
  }
}
