@import '@/assets/variables/colors.scss';

@each $color-name, $color-value in $base-colors {
  .bg-#{'' + $color-name} {
    background-color: $color-value;
  }
}

@each $color-name, $color-value in $base-colors {
  .text-#{'' + $color-name} {
    color: $color-value;
  }
}
