@import '@/assets/variables/sizes.scss';

@each $value, $size in $sizes {
  .mt-#{$value} {
    margin-top: $size;
  }

  .mr-#{$value} {
    margin-right: $size;
  }

  .mb-#{$value} {
    margin-bottom: $size;
  }

  .ml-#{$value} {
    margin-left: $size;
  }

  .mx-#{$value} {
    margin-left: $size;
    margin-right: $size;
  }

  .my-#{$value} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .m-#{$value} {
    margin: $size;
  }

  .pt-#{$value} {
    padding-top: $size;
  }

  .pr-#{$value} {
    padding-right: $size;
  }

  .pb-#{$value} {
    padding-bottom: $size;
  }

  .pl-#{$value} {
    padding-left: $size;
  }

  .px-#{$value} {
    padding-left: $size;
    padding-right: $size;
  }

  .py-#{$value} {
    padding-top: $size;
    padding-bottom: $size;
  }

  .p-#{$value} {
    padding: $size;
  }
}
