<template>
  <header class="header text-center mb-8 pb-3">
    <div class="container">
      <div class="header__text p-2">vue-3-test-example</div>

      <div class="place-center gap-4">
        <router-link
          v-for="{ text, to } in headerLinks"
          class="header__link text-bold"
          :to="to"
          :key="text"
        >
          {{ text }}
        </router-link>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import { RouteName } from '@/router/routes/names'

const headerLinks = [
  {
    text: 'Home',
    to: { name: RouteName.Home }
  },
  {
    text: 'Cart',
    to: { name: RouteName.Cart }
  },
  {
    text: 'Orders',
    to: { name: RouteName.Orders }
  }
]
</script>

<style lang="scss" scoped>
.header {
  top: 0;
  z-index: 1;
  background: #42b883;
  box-shadow: 0 0.4rem 0.6rem rgb(53 143 139 / 68%);
  text-transform: uppercase;
  position: sticky;

  &__text {
    font-size: $size-7;
    background: linear-gradient(0, #21a8b5, #8d00ff);
    -webkit-background-clip: text;
    color: transparent;
  }

  &__link {
    font-size: $size-5;
    transition: color 0.16s ease-in;
    color: #8d5c9c;

    &:not(.router-link-active):hover {
      color: #6a3b6e;
    }
  }

  @media (max-width: $breakpoint-md) {
    &__text {
      font-size: $size-5;
    }

    &__link {
      font-size: $size-4;
    }
  }
}
</style>
