<template>
  <footer class="footer mt-8">
    <div class="container">
      <div class="footer__text text-center text-white p-3">
        <div class="mb-2" data-testid="made">Made with 🖤 by Serg Mukhin</div>
        <div data-testid="year">2️⃣0️⃣2️⃣3️⃣</div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  background: #333333;
}
</style>
