<template>
  <section>
    <section-title v-if="showTitle">Cart</section-title>
    <cart @order-sent="showTitle = false" />
  </section>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import SectionTitle from '@/components/base/section-title.vue'
import Cart from '@/components/cart/cart.vue'

let showTitle = ref(true)
</script>
