<template>
  <section>
    <section-title>Products</section-title>
    <products-list />
  </section>
</template>

<script setup lang="ts">
import SectionTitle from '@/components/base/section-title.vue'
import ProductsList from '@/components/products/products-list.vue'
</script>
