<template>
  <section>
    <section-title>Page you looking for is not found 😔</section-title>
    <div class="place-center">
      <router-link
        :to="{ name: RouteName.Home }"
        class="btn btn-success btn-translate text-white py-3 px-4"
      >
        Go to products
      </router-link>
    </div>
  </section>
</template>

<script setup lang="ts">
import SectionTitle from '@/components/base/section-title.vue'

import { RouteName } from '@/router/routes/names'
</script>
