<template>
  <section>
    <section-title>Orders</section-title>
    <orders-list />
  </section>
</template>

<script setup lang="ts">
import SectionTitle from '@/components/base/section-title.vue'
import OrdersList from '@/components/orders/orders-list.vue'
</script>
