<template>
  <div class="counter-input d-flex">
    <button
      class="counter-input__btn icon-btn"
      type="button"
      data-testid="counter-input-decrement-btn"
      @click="decrement"
    >
      ➖
    </button>

    <input
      class="counter-input__field input-number mx-2"
      type="number"
      :value="props.amount"
      :max="props.max"
      @input="onInput"
    />

    <button
      class="counter-input__btn icon-btn"
      type="button"
      data-testid="counter-input-increment-btn"
      @click="increment"
    >
      ➕
    </button>
  </div>
</template>

<script setup lang="ts">
interface IEmits {
  (event: 'update:amount', payload: number): void
}

interface IProps {
  amount: number
  max: number
}

const emit = defineEmits<IEmits>()
const props = defineProps<IProps>()

function onInput(event) {
  let num = event.target.value.replace(/\D/g, '')
  event.target.value = num || 0

  if (num > props.max) {
    num = props.max
    event.target.value = `${props.max}`
  }

  if (num < 1) {
    num = 1
    event.target.value = 1
  }

  emit('update:amount', +num)
}

function decrement() {
  if (props.amount > 1) {
    emit('update:amount', props.amount - 1)
  }
}

function increment() {
  if (props.amount <= props.max) {
    emit('update:amount', props.amount + 1)
  }
}
</script>

<style lang="scss" scoped>
.counter-input {
  &__field {
    width: 2.8rem;
  }
}
</style>
