<template>
  <section class="text-center">
    <section-title> Exchange Rates Info </section-title>

     <div>
      <span class="font-5" data-testid="usd">USD 💲: </span>
      <span
        class="font-5 mr-1"
        :class="priceArrowInfo.arrowClass"
        data-testid="arrow"
        v-html="priceArrowInfo.arrowIcon"
      ></span>
      <span class="text-bold font-5 mr-1" data-testid="current-rate">{{
        formatPrice(exchangeRateStore.exchangeRate)
      }}</span>
      <span class="text-secondary font-3" data-testid="previous-rate"
        >previous: {{ formatPrice(exchangeRateStore.prevExchangeRate) }}</span
      >
    </div>

    <button
      class="btn btn-info btn-scale mt-2"
      data-testid="refresh-btn"
      @click="exchangeRateStore.updateExchangeRate"
    >
      Refersh
    </button>
  </section>
</template>

<script setup lang="ts">
import { computed, onBeforeMount, onBeforeUnmount, watch } from 'vue'
import SectionTitle from '@/components/base/section-title.vue'
import { formatPrice } from '@/utils/number/format-price'
import getRandomNumberInRange from '@/utils/number/get-random-number-in-range'
import { MIN_UPDATE_PERIOD, MAX_UPDATE_PERIOD } from '@/services/exchange-service'

import { useExchangeRateStore } from '@/stores/exchange-store'
import { useProductsStore } from '@/stores/products-store'

const exchangeRateStore = useExchangeRateStore()
const productsStore = useProductsStore()

let timeout = null

const priceArrowInfo = computed(() => {
  if (exchangeRateStore.exchangeRate > exchangeRateStore.prevExchangeRate) {
    return {
      arrowClass: 'text-danger',
      arrowIcon: '&#8657;'
    }
  } else if (exchangeRateStore.exchangeRate < exchangeRateStore.prevExchangeRate) {
    return {
      arrowClass: 'text-success',
      arrowIcon: '&#8659;'
    }
  }

  return {
    arrowClass: 'text-secondary',
    arrowIcon: '&#8693;'
  }
})

onBeforeMount(() => {
  refreshRates()
})

onBeforeUnmount(() => clearTimeout(timeout))

watch(() => exchangeRateStore.exchangeRate, productsStore.updateProductPrices)

function refreshRates() {
  exchangeRateStore.updateExchangeRate()
  timeout = setTimeout(refreshRates, getRandomNumberInRange(MIN_UPDATE_PERIOD, MAX_UPDATE_PERIOD))
}
</script>
