$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$black-color: #000000;
$white-color: #ffffff;
$transparent: transparent;

$base-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  danger: $danger-color,
  warning: $warning-color,
  info: $info-color,
  black: $black-color,
  white: $white-color,
  transparent: $transparent
);
