@import './helpers/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield;
}

.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-pulse 1.5s infinite;
  border-radius: 1.6rem;
}

@keyframes skeleton-pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

a.router-link-active.router-link-exact-active {
  color: #cddc39;
}

html {
  font-size: 10px;
  font-display: swap;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

#app {
  min-height: 100vh;
}

.main {
  flex: 1;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 120rem;
}
