<template>
  <the-header />

  <main class="main container flex-column gap-8">
    <exchange-rate-info />
    <router-view v-slot="{ Component, route }">
      <transition :name="(route.meta.transition as string) || 'fade'" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
  </main>

  <the-footer />
</template>

<script setup lang="ts">
import TheHeader from '@/components/layout/the-header.vue'
import TheFooter from '@/components/layout/the-footer.vue'
import ExchangeRateInfo from '@/components/base/exchange-rate-info.vue'
</script>

<!-- TODO: -->
<!-- покрыть тестами -->
<!-- вызов эмита из cart в cart-page -->

<!-- pipeline -->
<!-- global mockReset или mockClear -->
<!-- --sequence.concurrent -->
